.tags-list {
  display: flex;
  flex-direction: row;

  list-style: none;
  padding-left: 0;
}

.tags-list > *{
  margin-right: 1rem;
}

.tags-list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
